<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coderfocus.mybatisdynamicsqldemo.mapper.BookMapper">

    <resultMap id="bookMap" type="com.coderfocus.mybatisdynamicsqldemo.entity.Book">
        <id property="id" column="id"/>
        <result property="name" column="book_name"/>
        <result property="author" column="author"/>
        <result property="price" column="price"/>
    </resultMap>

    <select id="getBooks" resultMap="bookMap">
      select * from t_book
      <where>
          <if test="name!=null">
              and book_name = #{name}
          </if>
          <if test="price!=null and price != 0">
              and price > #{price}
          </if>
      </where>
    </select>

    <select id="getBooks2" resultMap="bookMap">
        select * from t_book
        <where>
            <choose>
                <when test="name!=null">
                    and book_name = #{name}
                </when>
                <when test="price!=null and price != 0">
                    and price > #{price}
                </when>
                <otherwise>
                    and author = #{author}
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="getBooksByIds" resultMap="bookMap">
        SELECT * FROM t_book
        WHERE id in
        <foreach item="id" index="index" collection="ids"
                 open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="oneParameterWithParam" resultMap="bookMap">
        select * from t_book
        <where>
            <if test="book.name!=null">
                and book_name = #{book.name}
            </if>
            <if test="book.price!=null and book.price != 0">
                and price > #{book.price}
            </if>
        </where>
    </select>

    <select id="oneParameterWithoutParam" resultMap="bookMap">
        select * from t_book
        <where>
            <if test="name!=null">
                and book_name = #{name}
            </if>
            <if test="price!=null and price != 0">
                and price > #{price}
            </if>
        </where>
    </select>

    <select id="oneBaseParameterWithoutParam" resultMap="bookMap">
        select * from t_book where book_name = #{###}
    </select>


    <select id="manyBaseParameterWithoutParam" resultMap="bookMap">
        select * from t_book where book_name = #{param1} and price = #{param2}
    </select>

    <select id="manyCustomParameterWithoutParam" resultMap="bookMap">
        select * from t_book where book_name = #{param2} and price = #{param1.price}
    </select>

    <select id="oneMapParameterWithoutParam" resultMap="bookMap">
        select * from t_book where book_name = #{name} and price = #{price}
    </select>

    <select id="manyMapParameterWithoutParam" resultMap="bookMap">
        select * from t_book where book_name = #{name} and price = #{map.price}
    </select>

    <select id="oneMapParameterWithParam" resultMap="bookMap">
        select * from t_book where book_name = #{map.name} and price = #{map.price}
    </select>

</mapper>