<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <hr/>
    <h2>th:text</h2>
    <div>
        <!--/*@thymesVar id="date" type=""*/-->
        <span th:text="${date}"></span>
        <!--/*@thymesVar id="message" type=""*/-->
        <span th:text="'123,' + ${message}"></span>
    </div>


    <hr/>
    <h2>th:each</h2>
    <div>
        <li th:each="book : ${books}">
            <!--/*@thymesVar id="book" type=""*/-->
            <span th:text="${book}"></span>
        </li>
    </div>
    <div>
        <table border="1">
            <tr>
                <th>用户名</th>
                <th>邮箱</th>
                <th>状态变量：index</th>
                <th>状态变量：count</th>
                <th>状态变量：size</th>
                <th>状态变量：current.name</th>
                <th>状态变量：even</th>
                <th>状态变量：odd</th>
                <th>状态变量：first</th>
                <th>状态变量：last</th>
            </tr>
            <tr  th:each="user,userStat : ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <th th:text="${userStat.index}">状态变量：index</th>
                <th th:text="${userStat.count}">状态变量：count</th>
                <th th:text="${userStat.size}">状态变量：size</th>
                <td th:text="${userStat.current.name}"></td>
                <th th:text="${userStat.even}">状态变量：even****</th>
                <th th:text="${userStat.odd}">状态变量：odd</th>
                <th th:text="${userStat.first}">状态变量：first</th>
                <th th:text="${userStat.last}">状态变量：last</th>
            </tr>
        </table>
    </div>

    <hr/>
    <h2>th:id</h2>
    <div>
        <input th:id="${id1}"/>
        <input th:id="${id2}"/>
    </div>

    <hr/>
    <h2>th:utext</h2>
    <div>
        <p th:utext="${content}"></p>
    </div>

    <hr/>
    <h2>th:value</h2>
    <div>
        <input th:value="${id1}"/>
        <input th:value="${id2}"/>
    </div>

    <hr/>
    <h2>th:with</h2>
    <div th:with="name=${user.name},email=${user.email}">
        <div th:text="${name}"></div>
        <div th:text="${email}"></div>
    </div>

    <hr/>
    <h2>th:style</h2>
    <h2 th:style="'display:' + (${display}?'none':'block') ">display</h2>

    <hr/>
    <h2>th:if th:unless</h2>
    <h2 th:if="${display} == true">display:true</h2>
    <h2 th:if="${display == true}">display:true</h2>
    <h2 th:unless="${display} == true">display:false</h2>
    <h2 th:unless="${display == true}">display:false</h2>

    <hr/>
    <h2>th:href</h2>
    <a th:href="'http://www.baidu.com'">百度</a>

    <hr/>
    <h2>th:fragment</h2>
    <div th:fragment="copyright" id="© 2019 copyright">
        © 2019 copyright
    </div>
    <h4>th:fragment 传递参数</h4>
    <div th:include="teamplate :: frag('foo','bar')"></div>
    <div th:include="teamplate :: frag('bar','foo')"></div>
    <br/>


    <hr/>
    <h2>th:include</h2>
    <p>th:include中的参数格式为templatename::[domselector],其中templatename是模板名（如footer）,
        domselector是可选的dom选择器。如果只写templatename，不写domselector，则会加载整个模板。</p>
    <p>th:include:保留自己的主标签，不要th:fragment(模板)的主标签</p>

    <h4>th:include 加载th:fragment</h4>
    <div th:include="footer :: copyright"></div>
    <br/>

    <h4>th:include 只写模板名,加载全部</h4>
    <div th:include="footer"></div>
    <br/>

    <h4>th:include  只写选择器，这里指fragment名称，则加载本页面对应的fragment</h4>
    <div th:include="::copyright"></div>
    <br/>

    <h4>th:include 加载id选择器</h4>
    <div th:include="footer::#copy-section"></div>


    <hr/>
    <h2>th:replace(整体替换)</h2>
    <p>th:replace:不要自己的主标签，保留th:fragment(模板)的主标签</p>

    <h4>th:replace 加载th:fragment</h4>
    <div th:replace="footer :: copyright"></div>
    <br/>

    <h4>th:replace 只写模板名,加载全部</h4>
    <div th:replace="footer"></div>
    <br/>

    <h4>th:replace  只写选择器，这里指fragment名称，则加载本页面对应的fragment</h4>
    <div th:replace="::copyright"></div>
    <br/>

    <h4>th:replace 加载id选择器</h4>
    <div th:replace="footer::#copy-section"></div>


    <hr/>
    <h2>th:insert(整体插入)</h2>
    <p>th:insert:保留自己的主标签，保留th:fragment的主标签</p>

    <h4>th:insert 加载th:fragment</h4>
    <div th:insert="footer :: copyright"></div>
    <br/>

    <h4>th:insert 只写模板名,加载全部</h4>
    <div th:insert="footer"></div>
    <br/>

    <h4>th:insert  只写选择器，这里指fragment名称，则加载本页面对应的fragment</h4>
    <div th:insert="::copyright"></div>
    <br/>

    <h4>th:insert 加载id选择器</h4>
    <div th:insert="footer::#copy-section"></div>


    <hr/>
    <h2>th:object</h2>

    <h4>th:object 表单提交</h4>
    <form id="userForm" action="/book" th:object="${user}" method="post" >
        <input type="text" th:field="*{name}"/>
        <input type="text" th:field="*{email}"/>

        <input type="submit"/>
    </form>

</body>
</html>